kind: Namespace
apiVersion: v1
metadata:
  name: game-2024
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-2024
spec:
  replicas: 2
  selector:
    matchLabels:
      app: game-2024
  template:
    metadata:
      labels:
        app: game-2024
    spec:
      containers:
      - name: game-2024
        image: namanss/2048-game:latest
        resources:
          limits:
            memory: "100Mi"
            cpu: "100m"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: game-service
spec:
  selector:
    app: game-2024
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort

